.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0b2545;
  scroll-behavior: smooth;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #353535;
}

.loader {
  background-color: #353535;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: 0.5s all ease;
  z-index: 10;
}

.heading h1 {
  opacity: 0.3;
  font-size: 10vw;
  color: #fff;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: -moz-max-content;
  width: max-content;
  left: 2%;
  bottom: 10%;
}

.loader .hidden h1 {
  font-size: 8vw;
  transform: translateY(50px);
}

#highlightText {
  color: #4787e8;
  font-weight: 700;
}

.heading {
  font-size: 9vw;
  margin: 2rem 0rem;
}
@media only screen and (min-width: 768px) {
  .heading {
    font-size: 7vw;
  }
}
@media only screen and (min-width: 1024px) {
  .heading {
    font-size: 4vw;
  }
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
/* main .swiper {
  width: 600px;
  height: 300px;
} */
main .button {
  background-color: #4787e8;
  cursor: pointer;
  color: white;
  margin-top: 2rem;
  position: relative;
  border-radius: 5px;
  width: -moz-max-content;
  width: max-content;
}
main .button :hover img {
  transform: rotate(360deg);
  transition: 0.3s all ease-in-out;
}
main .button .btnContent {
  width: 100%;
  padding: 0.5rem;
  gap: 5px;
}
main .button .btnContent a {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  line-height: 30px;
}
main .button .btnContent img {
  width: 20px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 768px) {
  main .button .btnContent {
    padding: 1rem 2rem;
    gap: 10px;
  }
  main .button .btnContent a {
    font-size: 20px;
  }
  main .button .btnContent img {
    width: 30px;
  }
}
main .navbar {
  position: relative;
  display: flex;
  padding: 10px;
  background-color: #fff;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1rem 1rem;
  top: 0;
  left: 0;
  height: 90px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

/* 
////////////////////// */
main .navbar {
  transition: height 0.3s ease; 
}

main .navbar.scroll-down {
  height: 60px; 
  line-height: 50px; 
}

main .navbar.scroll-up {
  height: 80px;
  line-height: 80px; 
}

main .nav-button {
  transition: all 0.3s ease; 
  text-align: center;
}

main .nav-button.scroll-down {
  height: 30px; 
  line-height: 10px; 
}

main .nav-button.scroll-up {
  height: 50px; 
  line-height: 25px;
}


.nav-items > ul > li.active > a {
  /* Define styles for active navigation item */
  color: #4787e8; /* Example: Change text color */
  font-weight: bold; /* Example: Make font bold */
}
@media only screen and (min-width: 768px) {
  main .navbar {
    padding: 2rem;
  }
}
main .nav-items > ul > li {
  position: relative;
  display: inline;
  list-style: none;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
main .nav-items > ul > li > a {
  color: #353535;
  font-weight: 500;
  font-size: 19px;
  text-decoration: none;
}
main .nav-items > ul > li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.17rem;
  background-color: #4787e8;
  left: 0;
  bottom: 0;
  transform-origin: 0% 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
main .nav-items > ul > li:hover::after {
  transform: scaleX(1);
}
main .nav-logo a,
main .nav-button a {
  color: white;
  list-style: none;
  text-decoration: none;
  display: flex;
}
main .nav-logo a img {
  width: 100%;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 768px) {
  main .nav-logo a img {
    height: 60px;
  }
}
main .nav-button {
  background-color: #4787e8;
  border-radius: 10px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}
main .anim-layer {
  position: absolute;
  top: 0;
  left: 0%;
  width: 0;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #4787e8;
  transition: width 0.3s ease, left 0.3s ease;
}
main .nav-button:hover .anim-layer {
  width: 100%;
  left: 0;
}
main .nav-button:hover a {
  color: #141214;
}
main .nav-button a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 1;
  font-weight: 500;
}





/* Dropdown Button */
.dropbtn {
  color: #353535;
  font-weight: 500;
  font-size: 19px;
  text-decoration: none;
  position: relative; /* Added */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 0; /* Added */
  top: calc(100% - 0px); /* Added */
  width: 160%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* Small arrow for About menu */
.nav-items ul li:nth-child(2) .dropbtn:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  top: 50%;
  left: 60px; /* Adjusted */
  /* transform: translateY(-50%) rotate(-90deg); Adjusted */
}


main #hamburger-menu,
main #mobile-menu {
  display: none;
}
@media only screen and (max-width: 1000px) {
  main #mobile-menu {
    background-color: #0b2545;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 10;
  }
  main .mobile-nav-items > ul {
    padding: 0px;
  }
  main .mobile-nav-items > ul > li {
    text-align: center;
    position: relative;
    list-style: none;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
  main .mobile-nav-items > ul > li > a {
    color: white;
    text-decoration: none;
  }
  main .mobile-nav-items > ul > li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.17rem;
    background-color: white;
    left: 0;
    bottom: 0;
    transform-origin: 0% 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  main .mobile-nav-items > ul > li:hover::after {
    transform: scaleX(1);
  }
  main .mobile-nav-button {
    background-color: #4787e8;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
  }
  main .mobile-nav-button .anim-layer {
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    transition: width 0.3s ease, left 0.3s ease;
  }
  main .mobile-nav-button:hover .anim-layer {
    width: 100%;
    left: 0;
  }
  main .mobile-nav-button:hover a {
    color: #141214;
  }
  main .mobile-nav-button a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1;
  }
  main .nav-items > ul,
  main .nav-button {
    display: none;
  }

 


  
  main #hamburger-cross {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 26px;
  }
  main #hamburger-menu {
    display: block;
    color: #4787e8;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700;
  }
}
main .home {
  width: 100%;
  min-height: 50vh;
  justify-content: center;
  padding: 2rem 2rem;
  border-radius: 0px 0px 30px 30px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  flex-direction: column-reverse;
  margin-top: 4.5rem;
}


main .home #bubble {
  position: absolute;
  width: 30vw;
  right: 0;
  bottom: 20%;
  z-index: -1;
  transform: translate(20%, 30%);
}
.background-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black */
  z-index: -1;
  animation: pulsate 2s infinite alternate; /* Pulsating effect */
}

@keyframes pulsate {
  from {
      opacity: 0.5;
  }
  to {
      opacity: 0.8;
  }
}

@media only screen and (min-width: 768px) {
  main .home {
    min-height: 80vh;
  }
}
@media only screen and (min-width: 1024px) {
  main .home {
    min-height: 90vh;
    flex-direction: row;
  }
  main .home #bubble {
    width: 30vw;
    transform: translate(30%, 60%);
  }
}
@media only screen and (min-width: 1280px) {
  main .home {
    min-height: 90vh;
    flex-direction: row;
  }
  main .home #bubble {
    width: 20vw;
    transform: translate(30%, 60%);
  }
}
main .home .homeLeft {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0rem;
}
@media only screen and (min-width: 1280px) {
  main .home .homeLeft {
    line-height: 5rem;
    margin-left: 5rem;
    width: 50%;
  }
}
main .home .homeLeft h3 {
  font-size: 6vw;
  font-weight: 400;
}
main .home .homeLeft h1 {
  font-size: 9vw;
}
main .home .homeLeft h1 #highlight {
  color: #4787e8;
  font-size: 10vw;
}
main .home .homeLeft h4 {
  font-size: 4vw;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  main .home .homeLeft h3 {
    font-size: 4vw;
  }
  main .home .homeLeft h1 {
    font-size: 6vw;
  }
  main .home .homeLeft h1 #highlight {
    font-size: 6vw;
  }
  main .home .homeLeft h4 {
    font-size: 3vw;
  }
}
@media only screen and (min-width: 1024px) {
  main .home .homeLeft h3 {
    font-size: 3vw;
  }
  main .home .homeLeft h1 {
    font-size: 5vw;
  }
  main .home .homeLeft h1 #highlight {
    font-size: 6vw;
  }
  main .home .homeLeft h4 {
    font-size: 2vw;
  }
}
@media only screen and (min-width: 1280px) {
  main .home .homeLeft h3 {
    font-size: 2vw;
  }
  main .home .homeLeft h1 {
    font-size: 4vw;
  }
  main .home .homeLeft h1 #highlight {
    font-size: 5vw;
  }
  main .home .homeLeft h4 {
    font-size: 2vw;
  }
}
main .home .homeRight {
  width: 100%;
  position: relative;
}
main .home .homeRight img {
  width: 50vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .home .homeRight {
  position: relative;
  overflow: hidden;
}

.main .home .homeRight img {
  position: absolute;
  transition: transform 0.2s ease;
}

@media only screen and (min-width: 768px) {
  main .home .homeRight img {
    width: 40vw;
  }
}
@media only screen and (min-width: 1024px) {
  main .home .homeRight {
    width: 50%;
  }
  main .home .homeRight img {
    width: 30vw;
  }
}
@media only screen and (min-width: 1280px) {
  main .home .homeRight img {
    width: 30vw;
  }
}
main .about {
  width: 100%;
  min-height: 70vh;
  color: #fff;
  position: relative;
  padding: 7rem 0rem;
  flex-direction: column;
  justify-content: space-between;
}
main .aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  padding: 0rem 1rem;
  margin-bottom: 5rem;
}
@media only screen and (min-width: 1024px) {
  main .aboutContainer {
    flex-direction: row;
  }
}
main .aboutContainer .leftAbout {
  width: 100%;
  margin: 2rem 0rem;
}
@media only screen and (min-width: 1024px) {
  main .aboutContainer .leftAbout {
    width: 40%;
  }
}
main .aboutContainer .leftAbout h1 {
  font-size: 2rem;
}
main .aboutContainer .leftAbout p {
  font-size: 1rem;
}
@media only screen and (min-width: 768px) {
  main .aboutContainer .leftAbout h1 {
    font-size: 2.5rem;
  }
  main .aboutContainer .leftAbout p {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  main .aboutContainer .leftAbout {
    margin-left: 5rem;
  }
}
main .aboutContainer .rightAbout {
  width: 100%;
  margin-top: 4rem;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  main .aboutContainer .rightAbout {
    width: 40%;
  }
}
main .aboutContainer .rightAbout img {
  width: 40vw;
  border-radius: 80px;
  height: 60vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 7;
}
@media only screen and (min-width: 768px) {
  main .aboutContainer .rightAbout img {
    height: 40vw;
    width: 30vw;
  }
}
@media only screen and (min-width: 1024px) {
  main .aboutContainer .rightAbout img {
    height: 25vw;
    width: 15vw;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}
main .aboutContainer .rightAbout span {
  width: 40vw;
  height: 60vw;
  position: absolute;
  border-radius: 80px;
  border: 1px solid white;
  animation: rotate 7s infinite ease-in;
}
@media only screen and (min-width: 768px) {
  main .aboutContainer .rightAbout span {
    height: 40vw;
    width: 30vw;
  }
}
@media only screen and (min-width: 1024px) {
  main .aboutContainer .rightAbout span {
    height: 25vw;
    width: 15vw;
  }
}
main .about .mission {
  background-color: #4787e8;
  width: 100%;
  height: auto;
  padding: 1rem;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  main .about .mission {
    flex-direction: row;
  }
}
main .about .mission .leftMission {
  width: 100%;
  justify-content: center;
  margin: 2rem 0rem;
}
@media only screen and (min-width: 1024px) {
  main .about .mission .leftMission {
    width: 20%;
    justify-content: flex-start;
  }
}
main .about .mission .rightMission {
  width: 100%;
  padding: 1rem;
  text-align: justify;
}
main .about .mission .rightMission p {
  font-size: 18px;
}
@media only screen and (min-width: 1024px) {
  main .about .mission .rightMission {
    width: 60%;
    justify-content: flex-start;
  }
}
main .about :nth-child(4) {
  background-color: #666;
}
main .services {
  width: 100%;
  min-height: 70vh;
  background-color: #fff;
  color: #0b2545;
  flex-direction: column;
  padding: 2rem;
}
main .services .servicesContainer {
  width: 100%;
  flex-wrap: wrap;
}
main .services .servicesContainer .cards {
  padding: 2rem;
  margin: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: none;
  text-align: center;
  width: 180px;
  height: 250px;
  border: 1px solid #0b2545;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
main .services .servicesContainer .cards:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
main .services .servicesContainer .cards::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, rgba(11, 37, 69, 0.8), rgba(255, 255, 255, 0));
  border-radius: 20px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

main .services .servicesContainer .cards:hover::before {
  opacity: 1;
}

/* Add more depth to the card */
main .services .servicesContainer .cards img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media only screen and (min-width: 1024px) {
  main .services .servicesContainer .cards img {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (min-width: 1280px) {
  main .services .servicesContainer .cards img {
    width: 100px;
    height: 100px;
  }
}
main .services .servicesContainer .cards h1 {
  font-size: 18px;
}
@media only screen and (min-width: 768px) {
  main .services .servicesContainer .cards h1 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  main .services .servicesContainer .cards h1 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1024px) {
  main .services .servicesContainer .cards h1 {
    font-size: 24px;
  }
}
main .servicesPage {
  flex-direction: column;
  width: 100;
  min-height: 80vh;
  background-color: #fff;
  padding: 7rem 2rem;
}
main .servicesPage .servicesDetails {
  flex-direction: column;
}
main .servicesPage .servicesDetails .servicesCards {
  flex-direction: column;
  background-color: #ece9e6;
  width: 100%;
  padding: 2rem 1rem;
  margin: 1rem 0rem;
  border-radius: 10px;
}
main .servicesPage .servicesDetails .servicesCards .leftServicesCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  main .servicesPage .servicesDetails .servicesCards {
    flex-direction: row;
    width: 70%;
  }
  main .servicesPage .servicesDetails .servicesCards .leftServicesCard {
    width: 20%;
    margin-right: 2rem;
  }
  main .servicesPage .servicesDetails .servicesCards .rightServicesCard {
    margin-left: 2rem;
    width: 60%;
  }
}
main .servicesPage .servicesDetails .servicesCards .leftServicesCard img {
  width: 40%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 1024px) {
  main .servicesPage .servicesDetails .servicesCards .leftServicesCard img {
    width: 200px;
  }
}
main .servicesPage .servicesDetails .servicesCards .rightServicesCard {
  margin-top: 2rem;
}
@media only screen and (min-width: 1024px) {
  main .servicesPage .servicesDetails .servicesCards .rightServicesCard {
    margin-top: 0rem;
  }
}
main .servicesPage .servicesDetails .servicesCards .rightServicesCard h3 {
  font-size: 25px;
  margin: 1rem 0rem;
}
main .servicesPage .servicesDetails .servicesCards .rightServicesCard h5 {
  font-size: 22px;
  margin: 1rem 0rem;
}
main .servicesPage .servicesDetails .servicesCards .rightServicesCard ul {
  padding-left: 2rem;
}
main .parallax {
  width: 100%;
  height: 30vh;
  background: url(./images/parallax.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media only screen and (min-width: 1024px) {
  main .parallax {
    height: 50vh;
  }
}
main .projects {
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
  border-radius: 0px 0px 50px 50px;
  padding: 7rem 1rem;
}
@media only screen and (min-width: 1024px) {
  main .projects .project-container:nth-child(even) {
    flex-direction: row-reverse;
    padding-left: 3rem;
  }
}
main .projects .project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 235, 245);
  border-radius: 10px;
  margin: 1rem 0rem;
}
@media only screen and (min-width: 1024px) {
  main .projects .project-container {
    flex-direction: row;
    margin: 2rem 0rem;
  }
}
main .projects .project-image {
  padding: 2rem;
  justify-content: center;
  width: 40%;
}
main .projects .project-image img {
  width: 300px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
@media only screen and (min-width: 1024px) {
  main .projects .project-image img {
    width: 350px;
  }
}
@media only screen and (min-width: 1280px) {
  main .projects .project-image img {
    width: 400px;
  }
}
main .projects .project-info {
  padding: 20px;
  width: 100%;
}
main .projects .project-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
main .projects .project-info p {
  font-size: 16px;
  margin-bottom: 15px;
}
main .blog {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 7rem 1rem;
}
main .blog .heading {
  color: #fff;
}
main .blog .blogContainer {
  margin: 2rem 0rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;
  position: relative;
}
main .blog .blogContainer img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 1024px) {
  main .blog .blogContainer {
    width: 70%;
  }
}
main .blog .blogContainer .slider {
  position: relative;
  width: 100%;
}
main .blog .blogContainer .slider .slides {
  display: flex;
  transition: transform 0.5s ease;
}
main .blog .blogContainer .slider .slides .card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, 20rem + 2vw, 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  margin: 1rem;
  background: #ece9e6;
  min-width: 350px;
  background: linear-gradient(to right, #ffffff, #ece9e6);
}
main .blog .blogContainer .slider .slides .card .cardBody {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main .blog .blogContainer .slider .slides .card .cardBody .tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}
main .blog .blogContainer .slider .slides .card .cardBody .tag + .tag {
  margin-left: 0.5em;
}
main .blog .blogContainer .slider .slides .card .cardBody .tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #1081a6);
  color: #fafafa;
}
main .blog .blogContainer .slider .slides .card .cardBody .cardBody h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
main .blog .blogContainer .slider .slides .card .cardFooter {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}
main .blog .blogContainer .slider .slides .card .cardFooter .user {
  display: flex;
  gap: 0.5rem;
}
main .blog .blogContainer .slider .slides .card .cardFooter .userImage {
  border-radius: 50%;
}
main .blog .blogContainer .slider .slides .card .cardFooter .userInfo > small {
  color: #666;
}
main .blog .blogContainer .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
main .blog .blogContainer .button button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #333;
  transition: color 0.3s ease;
}
main .blog .blogContainer .button button i {
  font-size: 20px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #4787e8;
  color: #fff;
  z-index: 10;
}
@media only screen and (min-width: 1024px) {
  main .blog .blogContainer .button button i {
    font-size: 40px;
    padding: 0.5rem;
  }
}
main .blog .blogContainer .button button:hover {
  color: #000;
}
main .blog .blogContainer .button button.prev {
  left: 0;
}
main .blog .blogContainer .button button.next {
  right: 0;
}
main .blogPageContainer {
  display: grid;
  place-items: center;
  min-height: 80vh;
  padding: 7rem 2rem 2rem 2rem;
}
main .blogPageContainer .heading {
  color: #fff;
}
main .blogPageContainer .blogContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}
main .blogPageContainer .blogContainer img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
main .blogPageContainer .blogContainer .card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, 20rem + 2vw, 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
}
main .blogPageContainer .blogContainer .card .cardBody {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main .blogPageContainer .blogContainer .card .cardBody .tag {
  align-self: flex-start;
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}
main .blogPageContainer .blogContainer .card .cardBody .tag + .tag {
  margin-left: 0.5em;
}
main .blogPageContainer .blogContainer .card .cardBody .tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #1081a6);
  color: #fafafa;
}
main .blogPageContainer .blogContainer .card .cardBody .cardBody h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
main .blogPageContainer .blogContainer .card .cardFooter {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}
main .blogPageContainer .blogContainer .card .cardFooter .user {
  display: flex;
  gap: 0.5rem;
}
main .blogPageContainer .blogContainer .card .cardFooter .userImage {
  border-radius: 50%;
}
main .blogPageContainer .blogContainer .card .cardFooter .userInfo > small {
  color: #666;
}


/* contact */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #4569ea;; /* White background for the container */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.con-box {
  flex: 1;
  padding: 20px;
}

.con {
  color: #333; /* Dark blue text */
}

h2 {
  color: #333; /* Dark blue text */
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.icon img {
  width: 24px; 
  height: 24px; 
  margin-right: 10px;
}

.text {
  color: #fff; 
  font-size: 20px; 
  font-weight: bold; 
}

.form input[type="email"],
.form input[type="text"],
.form input[type="tel"],
.form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: none; 
}

#sbmt-btn {
  width: 100%;
  background-color: #005a8d; 
  color: #fff; 
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

#sbmt-btn:hover {
  background-color: #00395e; 

}

.error {
  color: #ff0000; 
  font-size: 14px; 
  margin-top: 5px; 
}


@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}



   /* scrollUpIco  */

#scroll-up-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#scroll-up-icon.show {
  opacity: 1;
  visibility: visible;
}

.scroll-up-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #4787e8;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  text-decoration: none;
}

    /* service css */

    /* for card */
    .card1 {
   
      background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
      background-size: 100% 200%;
      background-position: 0 2.5%;
      border-radius: 5px;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      transition: 0.5s;
  }
  .card1:hover {
      background-position: 0 100%;
    }
  
   
    .card1:hover h2 {
      color: #ffffff;
    }
    .card1:hover p {
      color: #f0f0f0;
    }
    @media screen and (min-width: 768px) {
      section {
        padding: 0 2em;
      }
      .column {
        flex: 0 50%;
        max-width: 50%;
      }
    }
    @media screen and (min-width: 992px) {
      section {
        padding: 1em 3em;
      }
      .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
    }

@media only screen and (max-width: 768px) {
  .service {
    width: calc(50% - 20px);
  }
}

.service:hover {
  transform: translateY(-5px) scale(1.05);
}



.solutions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.service {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
}


.service:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.service p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

.service img {
  width: 100px;
  height: auto;
  margin: 0 auto 20px;
  display: block;
}



.service a {
  text-decoration: none;
  color: inherit;
}




@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateY(-50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}




.what-we-do {
  text-align: center;
  margin:  10px;
  padding: 0;
}

.what-we-do h4 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #333;
}

.what-we-do h3 {
  font-size: 20px;
  color: black;
  margin-bottom: 0px;
  
}

/* social-media-icons  */
   
.social-media-icons {
  display: flex;
  justify-content: center;
  margin-top: 5px; 
}

.social-media-icons a{
  margin: 0 10px;
}

.social-media-icons i{
  width: 20px; 
  height: auto;
}

.social-media-icons a:hover {
  transform: scale(1.5); 
}

.social-media-icons a:hover i {
  color: #4070F4; 
}

@media (hover: none) {
  .social-media-icons a:active {
      transform: scale(1.5); 
  }
}

/* Media query for mobile devices */
@media screen and (max-width: 786px) {
  .social-media-icons {
      justify-content: space-around; 
      margin-top: 10px; 
  }

  .social-media-icons a {
      margin: 15; 
  }
}




@media screen and (max-width: 786px) {
  .slide-content {
      margin: 0 10px;
  }
  .swiper-navBtn {
      display: none;
  }
}


/* cloud effect */
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 20%;
  width: 300px;
  right: 0;
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 150px;
}

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px;
}


/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.slow {
  -webkit-animation-duration: 9.2s;
  -moz-animation-duration: 9.2s;
  animation-duration: 9.2s;
}

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 11.2s;
}

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {

    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}


/* contact-page-css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
.contact-page .contact-box {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease; 
  }
  
  .contact-page .contact-box:hover {
    transform: translateY(-5px); 
  }
  
  .contact-page .contact-box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .contact-page .contact-content {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-page .contact-form {
    flex: 1;
    padding-right: 20px; 
  }
  
  .contact-page .contact-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .contact-page .contact-image img {
    max-width: 100%;
  }
  
  .contact-page .form-control {
    width: 190%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .contact-page .form-control:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  
  .contact-page textarea.form-control {
    height: 100px;
  }
  
  .contact-page .send-btn {
    width: 100%;
    background-color: #f7327a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-page .send-btn:hover {
    background-color: #e0245e;
  }
  
 

.contact-page .contact-info{
    margin: 1rem 0;
    text-align: left;
    padding: 1rem 0;
}

.contact-page .contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #3034be;
}

.contact-page .contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-page .contact-box h2{
    border-bottom: 1px soild black;
}
.contact-page .contact-info .text{
    padding-top: 0.4rem;
}

/* Keyframes for the shimmer animation */
@keyframes shimmerAnimation {
    0% {
      background-position: 200% 0; /* Start position */
    }
    50% {
      background-position: 150% 0; /* Middle position */
    }
    100% {
      background-position: 0 0; /* End position */
    }
  }
  
  /* Apply the shimmer animation to the line */
  .contact-page .contact-box h2::after {
    content: "";
    display: block;
    position: absolute;
    left: 0; 
    bottom: -5px; 
    width: 50%; 
    height: 5px; 
    background: linear-gradient(90deg, transparent, #6f8aea, transparent); 
    background-size: 300% 100%; 
    animation: shimmerAnimation 2.5s ease infinite; 
  }
  

   .contact-page .contact-box h2 {
    position: relative; 
  }
  
  @media screen and (max-width: 768px) {
    .contact-page .contact-box h2::after {
      width: 1000%; 
    }
  }
.contact-page .contact-form{
    padding: 2rem 0;
    /* border-top: 1px solid #c7c7c7; */
    
}


.contact-page .form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}

.contact-page .contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}



.contact-page .contact-form > div img{
    width: 85%;
}

.contact-page .contact-form > div{
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .contact-page .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
     .contact-page .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .contact-page .contact-box {
      width: 90%; 
    }
  
    .contact-page .contact-content {
      flex-direction: column; 
    }
  
    .contact-page .contact-form {
      padding-right: 0; 
      margin-bottom: 20px; 
    }
  
    .contact-page .contact-image {
      justify-content: center; 
    }
  
    .contact-page .form-control {
      width: 200%; 
    }
  
    .contact-page .send-btn {
      width: 100%; 
    }
  }


  /* footer-css */

  footer{
    width: 100%;
    background: lightblue;
    color: black;
    padding: 50px 0 30px;
    font-size: 13px;
    line-height: 20px;
}
.footer-section .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-section .col{
    flex-basis: 25%;
    padding: 10px;
}
.footer-section .col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.footer-section .footer_logo{
    width: 80px;
    position: relative;
    top: -23px;
    left: -20px;
}
.footer-section .footer_about{
    position: relative;
    top: -23px;
}
.footer-section .col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.footer-section .footer_email{
    width: fit-content;
    border-bottom: 1px solid darkblue;
    margin: 20px 0;
}
.footer-section .col ul li{
    list-style: none;
    margin-bottom: 12px;
}
.footer-section .col ul li a{
    text-decoration: none;
    color: black;
}
.footer-section .col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid darkblue;
    margin-bottom: 50px;
}
.footer-section .col form .icon{
    font-size: 18px;
    margin-right: 10px;
}
.footer-section .col form input{
    width: 100%;
    background: transparent;
    color: black;
    border: 0;
    outline: none;
}
/* .footer-section .col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
} */
/* .footer-section .col form button .icon_right{
    font-size: 26px;
    color: #760909;
} */
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 0px 0;
    margin-top: 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

.footer-section .hr.new1 {
    width: 90%;
    border: 0;
    border-bottom: 2px solid black;
    margin: 20px auto;
}
footer .copyright{
    text-align: center;
    
}
.footer-section .bottom_line{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.footer-section .bottom_line span{
    width: 15px;
    height: 100%;
    background: darkblue;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moveline 2s linear infinite;
}
@keyframes moveline{
    0%{
        left:-20px;
    }
    100%{
        left:100%;
    }
}


.footer-section .icons {
    width: 80%;
    display: flex;
    align-items: center;
  }
.footer-section .icons a i {
    font-size: 32px;
    text-decoration: none;
    color: #353535;
    margin: 0rem 0.3rem;
  }
  @media only screen and (min-width: 1024px) {
    .footer-section .icons a i {
      margin: 0rem 0.7rem;
    }
  }

  .footer-section .social-media-icons {
    display: flex;
    justify-content: center;
    margin-top: 5px; 
  }
  
  .footer-section .social-media-icons a{
    margin: 0 10px;
  }
  
  .footer-section .social-media-icons i{
    width: 20px; 
    height: auto;
  }
  
  .footer-section .social-media-icons a:hover {
    transform: scale(1.5); 
  }
  
  .footer-section .social-media-icons a:hover i {
    color: darkblue; 
  }
  
  @media (hover: none) {
    .footer-section .social-media-icons a:active {
        transform: scale(1.5); 
    }
  }
  
  /* Media query for mobile devices */
  @media screen and (max-width: 786px) {
    .footer-section .social-media-icons {
        justify-content: space-around; 
        margin-top: 10px; 
    }
  
    .footer-section .social-media-icons a {
        margin: 15; 
    }
  }
  
  
  .footer-section .wrap {
    height: 0vh;
    display: flex;
    justify-content: left;
    align-items: center;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 8px;
    }
  }
  
  .footer-section .parent {
    position: relative;
    .sub {
      transition: all 0.5s ease-in-out;
    }
    .footer-section .thanks {
      font-size: 13px;
      transition: all 0.5s ease-in-out;
      position: absolute;
      top: -5px;
      left: 0;
      opacity: 0;
    }
  }
  
  .footer-section .text {
    font-size: 17px;
    color: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
  }
  
  #toggle {
    display: none;
  }
  
  .footer-section .button {
    position: absolute;
    z-index: 999;
    width: 28px;
    height: 28px;
    background: #F9F9F9;
    border-radius: 10%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    &:before {
      position: absolute;
      top: 13px;
      left: 6px;
      content: '';
      width: 16px;
      height: 2px;
      background: #21CDB2;
      transform: rotate(90deg);
    }
    &:after {
      position: absolute;
      top: 13px;
      left: 6px;
      content: '';
      width: 16px;
      height: 2px;
      background: #21CDB2;
    }
  }
  
  #toggle:checked ~ .nav {
    opacity: 1;
    transform: translateY(10%);
  }
  
  #toggle:checked ~ .button {
    transform: rotate(135deg);
    box-shadow: 0 0 0 0 transparent;
    border-radius: 100%;
  }
  
  #toggle:checked ~ .subbed {
    opacity: 1;
  }